@import '../../styles/variables.scss';

.container {
    margin-top: 8px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}
.pageHolder {
    display:flex;
    align-items: center; 
}
.flipper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 26px;
    line-height: 24px;
    height: 26px;
    border: 2px solid transparent;
    text-align: center; 
    background: transparent;
    outline: none; 
    display: block;
    margin-left: 4px;

    &:last-child {
        margin-right: 4px;
    }
    &:hover {
        color: $link-blue; 
        background-color: rgba(0,168,200,0.1);
        border: 2px solid transparent;
    }
    &.active {
        pointer-events: none;
        border-color: $link-blue; 
        background: none !important; 
    }
}
.flipperContainer {
    display:flex; 
    button {
        cursor: pointer;
    }
}
.arrows {
    width: 24px;
    height: 26px;
    position: relative;
    padding: 0;
    border: 0;
    background: none;
    margin: 0;
    &:hover {
        border: 0px solid transparent;
        background-color: rgba(0,168,200,0.1);
    }
    > svg {
      fill: $link-blue;
      width: 24px;
      height: 26px;
      position:absolute;
      left: 0;
      top: 0;
    }
    &.left {

    }
    &.right {
        svg {
            transform: rotate(180deg);
        }
    }
}