@import "../../styles/variables.scss";

.selector_container {
    position:relative;
    &.disabled {
        opacity: .65; 
    }
}
.mask{
    border-bottom: 1px solid $link-blue; 
    padding-right: 16px;
    line-height: 14px; 
    color: $link-blue; 
    position: absolute;
    width: calc(100% - 6px);
    box-sizing: border-box;
    top: 2px; 

    &:after {
        display:block;
        content:'';
        position: absolute;
        right: 0;
        top: calc(50% - 3px);
        width: 0; 
        height: 0;
        border-top: 6px solid $link-blue;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
    }
}
.selector {
    position: relative;
   opacity: 0;
    cursor: pointer; 
}